.navbar-brand .logo-name{
    font-family: 'roboto';
    font-weight: bold;
    font-size: 16px;
    margin-left: -22px;
    color: #8e8686;
}
.logo{
    height: 33px !important;
    font-size: 33px;
}
.background-section{
    background-image: url(../images/backs.jpg);
    height: 599px;
    background-size: cover;
    padding: 5em;
}
.background-section h1{
    color: white;
    font-family: roboto;
    font-size: 35px;
    font-weight: bold;
}
.background-section p{
    font-size: 22px;
    float: left;
    margin-top: 78px;
    color: white;
    font-family: roboto;
    font-weight: lighter;
    text-align: justify;
    width: 597px;
    height: 181px;
    word-spacing: 26px;
    line-height: 42px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 49px;
}
nav.navbar.bootsnav ul.nav > li > a {
    position: relative;
    font-weight: 700;
    font-size: 13px;
    color: #7b7474;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 30px;
    font-family: roboto;
}
nav.navbar.bootsnav ul.nav > li > a:hover{
    color: #d22284;
}
nav.navbar.bootsnav ul.nav li.active > a{
    color: black;
    border-bottom: 2px solid #f3319d;
    padding-left: 26px;
    padding-right: 22px;
}
nav.navbar.bootsnav ul.nav li.active > a:hover,#linking{
    color: #d22284;
}
.goto-work{
    position: relative;
    top: 296px;
    left: -593px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding: 10px 54px;
    font-family: 'roboto';
    border-radius: 37px;
    outline: none;
}
.goto-work:hover{
    background: white;
    cursor: pointer;
    border: 1px solid #d815c9;
    color: #d815c9;
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}
/*                ABOUT US PAGE                       */
.about-us{
    margin-top: 70px;
}
.about-us h1, .services-container h2,.testimonies h2 {
    text-align: center;
    font-size: 33px;
    border-bottom: 2px solid black;
    width: 283px;
    margin-left: 531px;
}
.services-container{
    margin-top: 59px;
}
.about-us-all{
    background-image: url('../images/about\ us-bg.jpg');
    height: 681px;
    margin-top: 46px;
    background-size: cover;
    padding: 66px;
}
.about-us-all p {
    margin-left: 661px;
    color: white;
    font-weight: lighter;
    font-size: 22px;
    padding-top: 66px;
    line-height: 54px;
    font-family: 'roboto';
}
.about-us-all h2 {
    margin-left: 661px;
    color: white;
    font-size: 34px;
    font-weight: bold;
    padding-top: 61px;
}
/*       SERVICES            */
.services-all {
    margin-top: 132px;
    height: 1200px;
    padding: 20px;
    background-image: url(../images/services-bg.png);
    display: flex;
    flex-wrap: wrap;
}
.services{
    background-color: white;
    height: 402px;
    width: 538px;
    box-shadow: 0 0 10px #c1bbbb;
    padding: 31px;
    margin-left: 56px;
    margin-top: -45px;
    margin-bottom: 71px;
}
.services:hover{
    background: #d22284;
    color: white;
}
.services:hover > p{
    color: white;
}
.services:hover > h3{
    color: white;
}
.services h3{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
.services p{
    font-size: 19px;
    font-weight: 300;
    color: black;
    text-align: justify;
    word-spacing: 20px;
}
.services img {
    height: 136px;
    margin: 38px 153px;
}
/*       TESTIMONIES            */
.testimonies h2, .testimonies{
    margin-top: 85px;
}
/*        LOGIN PAGE            */
.login-page{
    height: 631px;
    background-image: url(../images/login-bg.jpg);
    margin: -8px;
    background-size: cover;
    padding: 32px;
    font-family: 'roboto';
    background-attachment: fixed;
}
.logos{
    position: relative;
    top: 7px;
    left: 233px;
}
.logos a{
    text-decoration: none;
    line-height: 0;
}
.back{
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: lighter;
    font-size: 14px;
}
.back span{
    font-size: 24px;
    font-weight: 900;
    padding-right: 10px;
}
.back:hover > span{
    color: #f3319d;
    transform: translateX(-20px);
}
.signup-next-container{
    height: 853px;
}
.form-container{
    height: 646px;
    background-color: white; 
    margin-left: 295px;
    margin-right: 439px;
    margin-top: -47px;
    border: none;
    border-radius: 10px;
    padding: 13px;
}
#location{
    font-size: 19px;
    font-weight: 300;
    padding-left: 0px;
    padding-bottom: 19px;
    padding-top: 13px;
}
.form-container h1{
        font-size: 14px;
    font-weight: 500;
    margin-left: 116px;
    padding-top: 30px;
    color: #80808c;
    border-bottom: 1px solid #80808c;
    padding-bottom: 11px;
    width: 239px;
    padding-left: 59px;
}
.form-container form{
    padding-top: 48px;
    padding-left: 78px;
}
.signup-next {
    height: 853px;
}
.form-container input,.form-container select{
    border: none;
    border-bottom: 1px solid #968888;;
    width: 72%;
    padding-bottom: 11px;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'roboto';
    margin-bottom: 28px;
    outline: none;
}
.form-container select{
    color: #968888;
}
.form-container select option{
    color: black;
}
.form-container button{
    border: 1px solid #8a8585;
    padding: 13px 87px;
    margin-left: 68px;
    border-radius: 27px;
    background: transparent;
    font-family: roboto;
    font-size: 15px;
    font-weight: 300;
}
.form-container button:hover{
    border: 1px solid #f5ebeb;
    background: #f51fee;
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.2s;
    outline: none;
}
.form-container .checkbox{
    margin-left: -247px;
}
.form-container form .checks{
    margin-right: -236px;
    height: 24px;
    margin-top: -25px;
}
.credentials{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 92px;
    text-align: justify;
    padding: 20px 0;
}
.public{
    font-size: 14px;
    color: #525151;
    font-weight: 500;
    margin-top: -32px;
}
.form-container form a{
    font-size: 16px;
    font-weight: 300;
}