body{
    background: #fbfbfb;
}
button{
    outline: none;
}
.dashboard{
    display: flex;
    flex-wrap: wrap;
}
.dashboard-left{
    background: white;
    height: 693px;
    width: 14%;
    margin: -8px;
    box-shadow: 0 0 2px #cccaca;
}
.dashboard-right{
    background: transparent;
    height: 700px;
    width: 85%;
    margin-left: 29px;
    margin-top: -8px;
    margin-right: 0;
}
.dashboard-right-header{
    background: white;
    height: 44px;
    box-shadow: 0 0 2px #cccaca;
    margin-top: 4px;
}
.dashboard-body{
    background: white;
    height: 556px;
    margin-top: 42px;
    box-shadow: 0 0 2px #cccaca;
    padding-top: 12px;
}
.dashboard-body-center{
    background: white;
    height: 37px;
    margin-top: 10px;
    box-shadow: 0 0 2px #cccaca;
    width: 1075px;
    margin-left: 58px;
}
.form-search{
    margin-left: 880px;
    display: flex;
    padding-top: 8px;
}
.form-search button{
    background: transparent;
    border: none;
    margin-top: 3px;
}
.form-search button:hover{
    transform: scale(1.5);
    cursor: pointer;
    transform: ease-in-out 0.4s;
}
.form-search button img{
    height: 24px;
}
.form-search input{
    height: 24px;
    width: 197px;
    font-family: 'roboto';
    font-size: 10px;
    border-radius: 15px;
    border: 1px solid #d2c7c7;
    padding-left: 12px;
    color: #676666;
    outline: none;
}
.logo-container{
    text-decoration: none;
    margin-left: 30px;
}
.logo-container .logo{
    height: 53px;
    margin-left: 44px;
    margin-top: 8px;
}
.logo-container .logo-name{
    font-family: 'roboto';
    color: #777575;
    font-size: 17px;
    margin-top: -9px;
    margin-left: 46px;
}
.profile-pic{
    height: 135px;
    margin-left: 21px;
    border: 1px solid #b1aaaa;
    border-radius: 50%;
}
.full-name{
    font-size: 13px;
    font-family: 'roboto';
    margin-left: 39px;
    font-weight: 300;
    text-transform: uppercase;
}
.department{
    font-family: 'roboto';
    font-weight: lighter;
    margin-left: 39px;
    text-transform: uppercase;
}
.department span{
    color: #fa00ea;
    font-weight: 900;
    font-size: 20px;
}
.navbar-menu ul li{
    margin-top: 7px;
    margin-left: -40px;
    text-align: left;
    padding-left: 10px;
    font-family: 'roboto';
    background: #e4e4e4;
    height: 40px;
    padding-top: 20px;
}
.navbar-menu ul li:hover{
    background: #a91775;
    cursor: pointer;
    transform: ease-in-out 0.6s;
}
.navbar-menu ul li:hover > a{
    color: white;
}
.navbar-menu ul li a{
    color: #656060;
    text-decoration: none;
    font-weight: 900;
}
.navbar-menu ul .active{
    background: #fa00ea;
}
.navbar-menu ul .active a{
    color: white;
    cursor: pointer;
}
.icons button{
    background: transparent;
    border: none;
    margin-top: 6px;
    float: left;
    margin-left: 21px;
}
.icons button:hover{
    background: #d8d8d8;
    border: none;
    border-radius: 4px;
    transform: ease-in-out 0.4s;
    cursor: pointer;
}
.icons button img{
    height: 19px;
}
.icons button span{
    margin-left: 14px;
    font-family: 'roboto';
    color: black;
    font-weight: 300;
}
.add-button{
    background: transparent;
    float: right;
    color: black;
    text-transform: uppercase;
    margin-top: 11px;
    font-family: 'roboto';
    font-size: 10px;
    border: none;
    margin-right: 70px;
}
.add-button:hover{
    background: #dadada;
    border: none;
    padding: 6px 67px;
    margin-right: 9px;
    border-radius: 15px;
    cursor: pointer;
}
.dashboard-body table tr th{
    font-family: 'roboto';
    font-weight: 300;
    font-size: 13px;
    border: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 208px;
    border-bottom: 1px solid black;
}
.dashboard-body table tr td{
    color: black;
    font-family: 'roboto';
    font-size: 13px;
    text-align: left;
    padding-left: 27px;
    border-bottom: 1px solid #bdb8b8;
    border-left: 1px solid #bdb8b8;
    font-weight: 300;
    line-height: 25px;
}
.recorded_date{
    text-align: left;
    padding: 8px;
    margin: 17px 24px;
    font-family: 'roboto';
    color: #fc00ed;
    font-weight: 500;
    border: 1px solid #fa00e9;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 34px;
}

/*           STYLING THE CLINIC HISTORY HERE*/
.history{
    padding: 10px;
}
.latest-container,.other-container{
    display: flex;
    flex-wrap: wrap;
}
.latest,.other-datas{
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    width: 40%;
    box-shadow: 0 0 3px #adaaaa;
    border: none;
    border-radius: 6px;
    margin-top: 18px;
    font-family: 'roboto';
    font-size: 12px;
    margin-left: 43px;
}
hr {
    width: 1008px;
    margin-top: -19px;
    margin-left: 107px;
    color: #d0cece;
}
.other-datas{
    width: 297px;
}
.other-container .data{
    margin-left: 15px;
    font-size: 9px;
    color: #908a8a;
}
.animated{
    color: #8a8484;
    font-family: 'roboto';
    font-size: 12px;
}
.latest button,.other-container button {
    padding: 10px 48px;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    outline: none;
}
.latest button:hover,.other-container button:hover {
    background: #cecece;
    cursor: pointer;
}
.open{
    color: blue;
    text-decoration: none;
}
.generate-pdf{
    color: #fa00ea;
    text-decoration: none;
}
.latest .data{
    margin-left: 67px;
    font-size: 11px;
    color: #908a8a;
}

/*          ADD NEW RECORD FORM     */
.add-new{
    background: white;
    padding: 14px;
    margin-top: 10px;
    font-family: 'roboto';
    box-shadow: 0 0 4px #b3b0b0;
    display: none;
}
.add-new form input{
    border: none;
    border-bottom: 1px solid #b7b6b6;
    padding-bottom: 11px;
    margin-left: 89px;
    width: 440px;
    font-family: 'roboto';
    outline: none;
}
.add-new form textarea{
    border: none;
    border-bottom: 1px solid #b7b6b6;
    height: 37px;
    outline: none;
    margin-left: 84px;
    font-family: 'roboto';
    width: 989px;
}
.add-new form button{
    outline: none;
    text-align: center;
    padding: 10px 79px;
    font-size: 10px;
    font-family: 'roboto';
    border-radius: 40px;
    border: 1px solid black;
    background: transparent;
    margin-left: 429px;
    cursor: pointer;
}
.add-new form button:hover{
    background: white;
    color: #f308a1;
    border: 1px solid #f308a1;
}
.add-new form h4{
    font-size: 14px;
    font-weight: 300;
    color: #8e8888;
}
.add-new form hr{
    position: relative;
    top: -10px;
    margin-left: 64px;
}
.add-new form .number{
    width: 984px;
}
.add-new h2 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 430px;
}
.add-new .close{
    text-align: center;
    background: #ec084d;
    width: 19px;
    padding: 10px;
    border-radius: 23px;
    color: white;
    font-family: 'roboto';
    position: relative;
    left: 1057px;
    cursor: pointer;
}
.add-new .close:hover{
    background: #f602d6;
}

/*      BLOOD BANK          */
.dashboard-right-header ul{
    display: flex;
    flex-wrap: wrap;
}
.dashboard-right-header ul li{
    list-style: none;
    width: 249px;
    padding-top: 12px;
    border-bottom: 5px solid #ffffff;
    text-align: center;
    margin-left: 23px;
    padding-bottom: 9px;
}
.dashboard-right-header ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #a2a2a2;
    font-family: 'roboto';
    text-transform: uppercase;
    font-weight: 900;
}
.dashboard-right-header ul .active {
    border-bottom: 4px solid #4d05a5;
}
.dashboard-right-header ul li:hover{
    border-bottom: 4px solid #f606a6;
    transform: ease-in-out 0.9s;
}
.banks{
    padding: 10px;
    margin-top: -13px;
}
.latest-in-store{
    display: flex;
    flex-wrap: wrap;
}
.banks p{
    font-family: 'roboto';
    font-size: 13px;
    font-weight: 300;
}
.banks hr{
    width: 1022px;
    margin-left: 93px;
    margin-top: -20px;
}
.blood-group{
    background: white;
    box-shadow: 0 0 2px #c1bdbd;
    padding: 9px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'roboto';
    font-size: 10px;
    width: 26%;
    border-radius: 4px;
    margin-top: 19px;
    margin-left: 37px;
}
.blood-group button{
    border: none;
    color: #2456c5;
    padding: 8px 40px;
    border-radius: 11px;
    font-weight: 900;
    cursor: pointer;
}
.blood-group button:hover{
    background: #fd02d3;
    color: white;
    transition: ease-in-out 0.3s;
}
.blood-group h2{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.blood-group h3{
    color: #fa00ea;
    background: #e4e4e4;
    padding: 10px 20px;
    border-radius: 6px;
    margin-left: 26px;
}
.error-container{
    border: 1px solid #fa00ea;
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 19px;
    margin-left: 91px;
    margin-top: 32px;
}
.error-container img{
    height: 37px;
    margin-left: 10px;
    border-radius: 14px;
}
.error-container p{
    text-align: center;
    margin-left: 299px;
    color: #fa00ea;
    font-weight: 500
}

/*              IMERGENCY DASHBOARD*/
.imergency{
    display: flex;
    flex-wrap: wrap;
}
.imergency-body{
    height: 651px;
    margin-top: 0px;
}
.ambulance{
    background: #4d05a5;
    color: white;
    font-family: 'roboto';
    padding: 20px;
    width: 392px;
    margin-left: 43px;
    border: none;
    border-radius: 14px;
    font-size: 9px;
    height: 111px;
}
.ambulance h2{
    text-align: center;
    color: #fa00ea;
    font-family: 'roboto';
    font-weight: 900;
}
.ambulance p{
    font-weight: 300;
    font-size: 17px;
    font-family: 'roboto';
}
.ambulance button{
    padding: 10px 52px;
    color: white;
    background: #cccccc;
    border: none;
    font-family: 'roboto';
    margin-left: 126px;
    border-radius: 0 20px 20px 0;
    font-weight: 900;
}
.ambulance button:hover {
    background: #a5a5a5;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.imergency-doctor{
    margin-left: 68px;
    background: #e4e4e4;
    border: none;
    border-radius: 13px;
    padding: 21px;
    color: white;
    width: 422px;
}
.imergency-doctor h2{
    color: #fa01e8;
    text-align: center;
    font-family: 'roboto';
    font-size: 15px;
}
.imergency-doctor p{
    font-family: 'roboto';
    color: #4d05a5;
    font-size: 14px;
}
.imergency-doctor button{
    border: none;
    background: #4d05a5;
    color: white;
    padding: 10px 52px;
    font-family: 'roboto';
    font-weight: 900;
    margin-left: 162px;
    border-radius: 0 20px 20px 0;
}
.imergency-doctor button:hover {
    background: blue;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
.ambulance-details p,.doctor-details p{
    margin-left: 42px;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 16px;
    margin-top: 50px;
}
.ambulance-details hr,.doctor-details hr{
    width: 926px;
    margin-left: 184px;
    margin-top: -24px;
}
.hospital-list,.doctor-list{
    border-left: 1px solid #9a9a9a;
    margin-left: 43px;
    padding-left: 44px;
    font-family: roboto;
    padding-top: 28px;
    font-weight: 300;
    margin-bottom: -38px;
    padding-bottom: 23px;
    display: none;
}
.hospital-list textarea,.doctor-list textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    margin-top: 5px;
    width: 800px;
    height: 25px;
    font-family: 'roboto';
    padding-left: 20px;
}
.hospital-list button,.doctor-list button{
    border: 1px solid #fa00ea;
    color: #fa00ea;
    background: transparent;
    padding: 10px 62px;
    border-radius: 20px;
    outline: none;
}
.hospital-list button:hover,.doctor-list button:hover{
    cursor: pointer;
    background: #4d05a5;
    transition: ease-in-out 0.3s;
}
/*         PROBLEM REPORTING            */
.report-to,.report-to .profile{
    display: flex;
    flex-wrap: wrap;
}
.report-to{

}
.report-to .reporters{
    width: 29%;
    margin-left: 22px;
    background: #f5f5f5;
    border: none;
    border-radius: 10px;
    padding: 11px;
}
.hoh-reporting{
    background: #4d05a5;
}
.hoh-reporting p{
    color: white;
}
.hoh-reporting button{
    background: #cbcdff;
}
.report-to h2{
    font-size: 21px;
    text-align: left;
    padding-left: 18px;
    font-family: 'roboto';
    color: #fa00ea;
    font-weight: 500;
}
.report-to img{
    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50%;
}
.report-to p{
    font-family: 'roboto';
    color: #4d05a5;
    padding-left: 19px;
    text-align: left;
}
.report-to .email{
    font-weight: 300;
    font-size: 14px;
}
.report-to button{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background: #4d05a5;
    padding: 10px 44px;
    font-family: 'roboto';
    margin-left: 76px;
    border-radius: 0 21px 21px 0;
}
.report-to button:hover {
    background: #842fec;
    transition: ease-in-out 0.3s;
    transform: translateX(7px);
}
.problem-reporting-container p{
    font-family: 'roboto';
    margin-left: 22px;
    font-weight: 300;
    margin-top: 35px;
}
.problem-reporting-container hr{
    width: 885px;
    margin-left: 236px;
    margin-top: -25px;
    border: -1px solid #e4e4e4;
}
.problem-reporting-container div{
    border: none;
    border-left: 1px solid #a7a7a7;
    margin-left: 21px;
    padding-left: 79px;
    padding-bottom: 22px;
    display: none;
}
.problem-reporting-container textarea{
    width: 874px;
    border: none;
    outline: none;
    border-bottom: 1px solid #9c9a9a;
    height: 27px;
    padding-left: 20px;
    font-family: 'roboto';
    margin-top: 27px;
}
.problem-reporting-container button{
    outline: none;
    border: 1px solid #fa00ea;
    color: #fa00ea;
    padding: 10px 46px;
    border-radius: 20px;
    background: transparent;
}
.problem-reporting-container button:hover{
    background: #4d05a5;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}
.edit-record{
    display: block !important;
    height: 604px;
}

.table-desc{
    background: #0080008c;
    color: white;
    font-family: 'roboto';
    padding: 15px 128px;
    position: relative;
    top: -29px;
    border: none;
    border-radius: 5px;
    margin-left: 247px;
    font-size: 11px;
}

.table-desc-command{
    background: #ff3131ab;
    color: white;
    font-size: 12px;
    padding: 10px 29px;
    font-family: 'roboto';
    line-height: 21px;
    width: 63%;
    margin-left: 210px;
    position: relative;
    top: -47px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 6px #969696;
    font-weight: 300;
}
.table-desc-command h2{
    font-size: 11px;
}
.table-desc-command ul {
    margin-left: 33px;
}
.to-day-history{
    background: #fa00ea;
    color: white;
    padding: 4px 20px;
}